/* IMPORT FONTS */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");

/* REFERÊNCIAS PARA MEDIA QUERIES */
/*
Mobile maior -- max-width: 600px
Tablet retrato -- min-width: 601px
Tablet paisagem e Desktop -- min-width: 900px
*/

/* CSS RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* GENERAL STYLING */
html {
	height: 100%;
	width: 100%;
	font-size: 15.5px;
}

body {
	height: 100%;
	width: 100%;
	background-color: #fdf4dd;
	font-family: "Work Sans", sans-serif;
	color: #000;
}

a {
	color: #000;
	text-decoration: none;
}

/* FOOTER */
.github-footer {
	width: 100vw;
	position: fixed;
	background-color: #f5e1b3;
	bottom: 0;
	padding: 0.5rem;
	text-align: center;
	line-height: 1.2rem;
	font-size: 0.8rem;
	color: #000;
	text-decoration: none;
}

.github-icon {
	font-size: 1rem;
	vertical-align: middle;
}

.link-footer {
	font-weight: 600;
}

.link-footer:hover {
	border-bottom: solid 2px #000;
}

.icon-arrow {
	font-size: 1.5rem;
	position: absolute;
	top: 1rem;
	left: 1rem;
}

.btn-stressed {
	background-color: #eb4747;
	width: 55vw;
	margin-left: 22.8%;
	margin-top: 3em;
}

.btn-inspired {
	background-color: #f28e45;
	width: 55vw;
	margin-left: 22.8%;
}

.btn-happy {
	background-color: #fbfe54;
	width: 55vw;
	margin-left: 22.8%;
}

.btn-bored {
	background-color: #47eb70;
	width: 55vw;
	margin-left: 22.8%;
}

.btn-heartbroken {
	background-color: #47ebeb;
	width: 55vw;
	margin-left: 22.8%;
}

.btn-sad {
	background-color: #4770eb;
	width: 55vw;
	margin-left: 22.8%;
}

.btn-sensitive {
	background-color: #9947eb;
	width: 55vw;
	margin-left: 22.8%;
}

.btn-in-love {
	background-color: #eb47c2;
	width: 55vw;
	margin-left: 22.8%;
}
